<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="hu">
<head th:replace="~{layout :: head}">
</head>
<body>
<div th:replace="~{layout :: header}">
</div>
<div class="dashboard">
    <div class="left-panel" th:replace="~{layout :: configMenu(${servers}, ${menu}, ${server.id})}">
    </div>
    <div class="content">
        <h1>Rangok</h1>
        <p>Ezek a rangok adhatóak a szervereden a bottal.</p>
        <div class="content-separator"></div>

        <h2>Nem látszik valami?</h2>
        <p>Frissítsd le a rangokat a <span>/discoordinator sync</span> paranccsal. Ha akkor sem jelenik meg, akkor mozgasd feljebb a <span>discordinator</span> rangot.</p>
        <div class="content-separator"></div>

        <h2>Rangok</h2>
        <div class="card" th:each="role : ${roles}">
            <ins th:if="${role.color != '#000000'}" th:text="${role.name}" th:style="|color: ${role.color}|"></ins>
            <ins th:if="${role.color == '#000000'}" th:text="${role.name}" style="color: #FFFFFF"></ins>
        </div>
    </div>
</div>
</body>
</html>